In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('qatar_airways_reviews.csv')

In [3]:
df.head()

,Unnamed: 0,Date Published,Rating,Max Rating,Title,Author,Country,Date,Review Body,Type Of Traveller,Seat Type,Route,Date Flown,Recommended,Aircraft,Verified
0,0,2024-03-02,1.0,10.0,“marred by inconveniences”,Mary Le,United Kingdom,2024-03-02,The delay of my flight from Haneda to Doha ca...,Solo Leisure,Economy Class,Tokyo to London Heathrow via Doha,March 2024,no,NaN,0.0
1,1,2024-02-29,1.0,10.0,"""seat wouldn't stay up""",Brian English,Canada,2024-02-29,They convinced me that I needed to pay $1500...,Couple Leisure,Business Class,Doha to Montreal,February 2024,no,NaN,1.0
2,2,2024-02-29,1.0,10.0,"""no attempt to address our complaint""",Wayne Burgess,Australia,2024-02-29,I have sent 5 emails and have only received ...,Business,Economy Class,Doha to Perth,November 2023,no,A380,1.0
3,3,2024-02-25,10.0,10.0,“I hope they update the A380”,Alwaleed Althani,Qatar,2024-02-25,We flew on probably the first A380 the airlin...,Couple Leisure,First Class,Doha to London Heathrow,February 2024,NaN,A380-800,1.0
4,4,2024-02-22,7.0,10.0,"""I’d rate them maybe 7/10""",W Warnock,United Kingdom,2024-02-22,"Service was ok, pretty good on my aisle and ...",Couple Leisure,Business Class,Auckland to Doha,February 2024,no,A350,1.0

In [4]:
df.tail()

,Unnamed: 0,Date Published,Rating,Max Rating,Title,Author,Country,Date,Review Body,Type Of Traveller,Seat Type,Route,Date Flown,Recommended,Aircraft,Verified
2364,2364,2013-08-12,9.0,10.0,Qatar Airways customer review,R Nash,Australia,2013-08-12,Flew first class CAI-DOH on QR503 on 8th Aug 2...,NaN,First Class,NaN,NaN,NaN,NaN,NaN
2365,2365,2013-08-06,7.0,10.0,Qatar Airways customer review,Gamage Champika,United Arab Emirates,2013-08-06,I took a flight to London on 17th July with my...,NaN,Economy Class,NaN,NaN,NaN,NaN,NaN
2366,2366,2013-08-06,5.0,10.0,Qatar Airways customer review,Martin Fernandez,Spain,2013-08-06,MAD-DOH-DXB and back. Boeing 777 in MAD-DOH se...,NaN,Economy Class,NaN,NaN,no,NaN,NaN
2367,2367,2013-08-06,7.0,10.0,Qatar Airways customer review,David Monteiro,Switzerland,2013-08-06,GVA-AUH A320. Good food but after the main mea...,NaN,Economy Class,NaN,NaN,NaN,NaN,NaN
2368,2368,2013-08-05,3.0,10.0,Qatar Airways customer review,A Boorman,United Kingdom,2013-08-05,London Heathrow - Yangon via Doha return. Firs...,NaN,Economy Class,NaN,NaN,no,NaN,NaN

In [8]:
df['Rating'].isna().sum()

np.int64(1)

In [9]:
df['Rating'].isnull().sum()

np.int64(1)

In [11]:
df["Seat Type"].isnull().sum()

np.int64(0)

In [12]:
df["Seat Type"].isna().sum()

np.int64(0)

In [15]:
df["Country"].isna().sum()

np.int64(0)

In [16]:
df["Country"].isnull().sum()

np.int64(0)

In [17]:
df["Review Body"].isnull().sum()

np.int64(0)

In [18]:
df["Review Body"].isna().sum()

np.int64(0)

In [20]:
df.shape

(2369, 16)

In [22]:
df['Seat Type'].unqiue()

AttributeError: 'Series' object has no attribute 'unqiue'